/* header */
.header{
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 1%;  
    width: 700px;
    height: 90px ;
    background-color: bisque;
}

.header ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 400px;
}

.header li{
    font-size: 30px;
}

.header a{
    text-decoration: none;
}

.header nav{
    margin: 0 auto;
    padding: 25px;
    width: 500px;
    height: 90px;
}

.iconImg{
    height: 30px;
}

h2{
    font-size: 34px;
    text-align: center;
}

.menu{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    min-height: 600px;
    border-radius: 10px;
    background-color: #EBE9E1;
}

.menu-item{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3.5%;
    width: 340px;
    height: 320px;
    border-radius: 10px;
    background-color: white;
}

.menu-item p{
    padding: 2px 5px;
    text-align: center;
}

/* ---- menu button styles ---- */

/* .item-image{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    height: 200px;
} */

/*--------------------------Lunch----------------- */
.img5{
    background-image: url(/Images/Lunch/spanakopita.jpg);
    background-size: cover;
    background-position: center;
}
.img6{
    background-image: url(/Images/Lunch/Souvlaki.jpg);
    background-size: cover;
    background-position: center;
}
.img7{
    background-image: url(/Images/Lunch/Pastitsio.webp);
    background-size: cover;
    background-position: center;
}
.img8{
    background-image: url(/Images/Lunch/moussaka.jpg);
    background-size: cover;
    background-position: center;
}
.img9{
    background-image: url(/Images/Lunch/gemista.webp);
    background-size: cover;
    background-position: center;
}
.img10{
    background-image: url(/Images/Lunch/Fava.jpg);
    background-size: cover;
    background-position: center;
}
/* -----------------------desserts-------------------- */
.img11{
    background-image: url(/Images//Dessert/loukoumades.jpg);
    background-size: cover;
    background-position: center;
}
.img12{
    background-image: url(/Images/Dessert/baklava.jpg);
    background-size: cover;
    background-position: center;
}
/*--------------------beverage-------------------- */
.img13{
    background-image: url(/Images/Beverages/espa-pink.jpg);
    background-size: cover;
    background-position: center;
}
.img14{
    background-image: url(/Images/Beverages/cherry.jpg);
    background-size: cover;
    background-position: center;
}
.img15{
    background-image: url(/Images/Beverages/orangeJuice.jpg);
    background-size: cover;
    background-position: center;
}

/* .item-image > button{ //if we have extra time we'll do this
    border-radius: 5px;
    border: transparent;
    background-color: #0cb00c00;
    height: 80px;
    width: 80px;
}

.item-image > button:hover{
    display: block;
    border-radius: 5px;
    border: transparent;
    background-image: url(/Ion_Icons/bag-add.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    width: 80px;
    cursor: pointer;
} */

/* ---- Add Icon styles ---- */

#add{
    position: absolute;
    z-index: 0;
    width: 20px;
    opacity: 0;
    transition: opacity 1s;
}

.addItem{
    position: relative;
    top: -280px;
    left: 300px;
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
}

.shadow{
    -webkit-filter: drop-shadow(2px 2px 1px #000000c5);
    filter: drop-shadow(2px 2px 1px #000000c5);
} 