/* header */
.header{
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 1%;  
    width: 700px;
    height: 90px ;
    background-color: bisque;
}

.header ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 400px;
}

.header li{
    font-size: 30px;
}

.header a{
    text-decoration: none;
}

.header nav{
    margin: 0 auto;
    padding: 25px;
    width: 500px;
    height: 90px;
}

.iconImg{
    height: 30px;
}

.menu-item{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3.5%;
    width: 340px;
    height: 320px;
    border-radius: 10px;
    background-color: white;
}

.menu-item p{
    padding: 2px 5px;
    text-align: center;
}

/* ---- menu button styles ---- */

/* .item-image > button{
    border-radius: 5px;
    border: transparent;
    background-color: #0cb00c00;
    height: 80px;
    width: 80px;
}

.item-image > button:hover{
    display: block;
    border-radius: 5px;
    border: transparent;
    background-image: url(/Ion_Icons/bag-add.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.shadow{
    -webkit-filter: drop-shadow(3px 3px 2px #000000c5);
    filter: drop-shadow(3px 3px 2px #000000c5);
} */