*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  
    CSS order
    flex/display
    margin
    border
    background
    padding
    height x width
    color/font/text
*/

:root{
    --color-1: #2c2c2c;
    --color-2: #484b46;
    --color-3: #979d94;
    --color-4: #fefffe;
    --color-5: #1e5f21;
    --color-6: #24a82a;
    --color-7: #0a31ae;
    --color-8: #9fa7b0;
    --color-9: #5F1E5C;
    --color-10: #c227ba;
    --color-11: #5F421E;
    --color-111: #efd7b9;
    --color-112: #e76565;
    --color-12: #795427;
    --color-13: #e9e8e0;
    --color-14: #232323;
    --color-15: #dadbda;
    --color-16: #515251;
    --color-17: #aeb1ac;
    --font-family-plain: 'Thasadith';
    --font-family-fancy: 'Ruthie';
}

body{
    font-family: var(--font-family-plain);
}

/* header */

.header{
    margin: 0 auto 1%;
    text-transform: uppercase;
    color: var(--color-1);
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--color-4);
    filter: drop-shadow(5px 5px 10px var(--color-1));
    transition: left .8s ease;
}

.header nav{
    padding: 20px 30px;
    width: fit-content;
}

.header ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none; 
}

.header li{
    margin: 0;
    padding: 0;
    text-align: center;
}

.close{
    padding: 0;
    width: 35px;
}

.header li a{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 5px;
    font-size: 28px;
    text-decoration: none;
    text-align: center;
    color: var(--color-1);
}

.header li a.food{
    color: var(--color-7);
}

.menu-items{
    display: none;
}

.iconImg{
    width: 25px;
}
.flatIcon{
    width: 40px;
}
.flatIcon-menu{
    width: 45px;
}

.login{
    margin-left: 2rem;
}


/* image section */

.image-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#00000088, #00000088), url(Images/Selector/building.webp);
    background-size: cover;
    background-position: 20%;
    background-attachment: fixed;
    min-height: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.image-section h2{
    position: fixed;
    top: 0;
    background-image: linear-gradient(to bottom, #000, #00000000);
    margin: 0 auto;
    width: 100%;
    height: 100px;
    font-family: 'Ruthie';
    font-weight: 400;
    font-size: 80px;
    text-align: center;
    letter-spacing: 3px;
    color: var(--color-13);
    z-index: 1;
    filter: drop-shadow(6px 6px 6px var(--color-14));
    transition: 0.5s;
}

.nav{
    position: fixed;
    left: 5%;
    top: 2.5%;
    font-size: 30px;
    color: var(--color-13);
    cursor: pointer;
    z-index: 1;
    transition: 0.5s;
}

.nav > img{
    height: 35px;
}

.iconImgHeader{
    height: 30px;
}

.admin-login{
    position: fixed;
    right: 5%;
    top: 2.5%;
    font-size: 40px;
    color: var(--color-13);
    z-index: 1;
    transition: 0.5s;
}

p.intro{
    display: block;
    position: absolute;
    left: 30%;
    bottom: 30%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Lato';
    font-weight: 300;
    color: var(--color-13);
    filter: drop-shadow(2px 4px 4px var(--color-14));
}

.header{
    z-index: 2;
}

/* select screen */

/* .food-cata{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3%;
    width: 340px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
}

.food-cata p{
    font-size: 30px;
    text-align: center; 
    text-decoration: none;
}

.menu-selector a{
    text-decoration: none;
    color: black;
}

.menu-selector{
    margin: 0 auto;
    display: flex;
    margin-bottom: 3%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1140px;
    min-height: 700px;
    border-radius: 10px;
    background-color: #ebe9e1;
}

.selector-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1050px;
}

.img-selector{
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: auto;
    width: 320px;
    height: 250px;
}

.desert{
    width: 260px;
    object-fit: cover;
}

.beverage{
    width: 330px;
    object-fit: cover;
} */

/* item variables */

.name{
    font-size: 20px;
}

.price{
    font-size: 20px;
}

.description{
    font-size: 15px;
}

/* menu index page */

.menu-selections-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    min-height: 400px;
    background-color: var(--color-15);
}

.menu-selections-container h2{
    margin-top: 30px;
    font-family: var(--font-family-plain);
    font-weight: 500;
    text-align: center;
    font-size: 42px;
}

.menu-selections-container h2::after{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 50px;
    height: 1px;
    content: '';
    background-color: #000;
}

.menu-selections-container p{
    margin: 30px auto;
    font-size: 20px;
}

.menu-selections{
    margin-top: 20px;
}

ul.selections{
    display: grid;
    grid-template-columns: auto;
}

.selection{
    text-decoration: none;
    color: #000;
    height: 260px;
    position: relative;
}

.selections .selection li.options{
    margin-top: 20px;
    width: 350px;
    height: 240px;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
}

.selections .selection li.option-arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;

    padding-top: 10px;
    background-color: var(--color-15);
    width: 350px;
    height: 80px;

    font-family: 'Ruthie';
    font-size: 50px;
    font-weight: 500;
    list-style: none;

    opacity: 0;
    z-index: 2;
}

.option-arrow span,
.option-arrow img{
    opacity: 0;
    z-index: 3;
}

li.option-arrow.visible span,
li.option-arrow.visible img{
    transition: opacity 500ms;
    opacity: 1;
    z-index: 3;
}

.selections .selection:last-child{
    margin-bottom: 30px;
}

.options > img{
    width: 350px;
}

.icon-arrow{
    width: 35px;
    height: 40px;
}

/* Menu */

/* .menu-item{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3.5%;
    width: 340px;
    height: 320px;
    border-radius: 10px;
    background-color: white;
}

.menu-item p{
    text-align: center;
    padding: 2px 5px;
}

.img{
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: auto;
    width: 220px;
    height: 150px;
}

.fit{
    object-fit: cover;
    background-repeat: no-repeat;
}

.img p{
    text-align: center;
}

.menu label{
    font-size: 30px;
}

.menu-holder{
    margin: 0 auto;
    width: 1000px;
}

.menu-Grid{
    opacity: 1;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    align-content: center;
    justify-content: space-evenly;
    width: 800px;
    background-color: aqua;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    margin-top: -5.5%;
    margin-left: 7.3%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
.menu-item:hover .image {
    opacity: 0.3;
}
  
.menu-item:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
} */

/* ---------------- */
/* ---- FOOTER ---- */
/* ---------------- */

footer{
    padding: 20px auto;
    height: 170px;
    background-color: var(--color-16);
}

.footer-main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.info a,
.icons-info-footer a{
    font-size: 15px;
    text-decoration: none;
    color: var(--color-17);
}

.icons-info-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.social-icon{
    margin: 40px auto;
    font-size: 40px;
    height: 25px;
    color: var(--color-17);
}

.info a:hover,
.social-icon:hover,
.icons-info-footer a:hover{
    color: var(--color-15);
    transition: color 0.5s;
}