*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-1: #fff;
    --color-2: #dbd0be;
    --color-3: #bba074;
    --color-4: #e69e2a;
    --color-5: #d59124;
}

header{
    background-color: var(--color-2);
    height: 40px;
}

/* --------------- */
/* ---- LOGIN ---- */
/* --------------- */

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 0;
    background-color: var(--color-2);
    padding: 20px 0 25px;
    max-width: 1140px;
}

.username,
.password,
.message{
    margin: 10px 0;
}

.login input{
    border: 1px solid var(--color-3);
    border-radius: 15px;
    height: 25px;
    width: 200px;
}

.message-button button{
    margin-top: 20px;
    border: 1px solid var(--color-4);
    border-radius: 15px;
    background-color: var(--color-4);
    height: 30px;
    width: 100px;
    color: var(--color-1);
}

.message-button button:hover{
    background-color: var(--color-5);
}

/* ----------------- */
/* ---- MANAGER ---- */
/* ----------------- */

.manager-dashboard,
.options,
.menu-items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    max-width: 900px;
}

.op{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.main{
    font-size: 20px;
    font-weight: 500;
}

.op > input{
    margin: 5px;
}

.op > label > img{
    width: 200px;
    /* height: 30px; */
}

/* ---- edit options ---- */

.edit-container{
    display: flex;
    flex-direction: column;
}

.menu-items-container{
    display: flex;
    flex-direction: column;
    /* min-height: 900px; */
}

.menu-items-container .op{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin: 20px auto;
}