*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------- */
/* ---- APPETIZERS ---- */
/* -------------------- */


.appetizer{
    background-color: #f1e7e7;
    height: 720px;
}

h2{
    font-size: 34px;
    text-align: center;
}

.holder{
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    width: 710px;height: 600px;
}

/* ---- appetizer image styles ---- */

.item-image{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    height: 200px;
}

.img1{
    background-image: url(/Images/Appetizers/Delmades.jpeg);
    background-size: cover;
}

.img2{
    background-image: url(/Images/Appetizers/Przepis-na-Choriatiki.jpg);
    background-size: cover;
    background-position: center;
}

.img3{
    background-image: url(/Images/Appetizers/saganaki.avif);
    background-size: cover;
}

.img4{
    background-image: url(/Images/Appetizers/Tzatziki-fit.jpg);
    background-size: cover;
    background-position: center;
}

.addItem{
    margin: 0 auto;
    border: none;
    background-color: transparent;
}

.addItem > img{
    height: 35px;
}