*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.receipt{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 3%;
    border-radius: 3px;
    width: 400px;
    min-height: 640px; 
    background-color: antiquewhite; 
}

.receipt-title{
    text-align: center;
    font-size: 1.3rem;
    width: 100%;
    height: 15vh;
    background-color: rgb(185, 214, 205);
}
.receipt-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 48vh;
    background-color: rgb(148, 170, 163);
}

.receipt-end{
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    height: 7vh;
    background-color: rgb(98, 151, 134);
}