*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.payment{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    padding: 3%;
    border-radius: 10px;
    width: 700px;
    min-height: 540px; 
    background-color: antiquewhite; 
}
.payment label{
    font-size: 15px;
    padding: 5px;
}
.payment input{
    width: 100%;
    padding: 0px 10px;
    font-size: 15px;
    height: 30px;
}

.person-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 5px;
    width: 400px;
    /* min-height: 280px; */
    margin-bottom: 3%;
    padding: 10px 15px;
    background-color: white;
}
.user{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60px;
}

.back-arrow{
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: -50%;
    width: 10%;
    height: 10%;
}
.back-arrow ion-icon{
    
}


.button-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
    height: 30vh;
    
}
.button-holder button{
    background-color: rgb(97, 244, 149);
    font-size: 3rem;
    border: 0px solid rgb(48, 216, 107);
    transition: 300ms;
}

.button-holder button:hover{
    background-color: rgb(48, 216, 107);
    color: white;
}

.pick-up{
    width: 70%;
    height: 30%;
    margin: 0 auto;
}
.Delivery{
    margin: 0 auto;
    width: 70%;
    height: 30%;
}

.credit-debit{
    margin: 0 auto;
    width: 70%;
    height: 30%;
}
.cash{
    margin: 0 auto;
    width: 70%;
    height: 30%;
}



.city-state{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 50px;
}
.city{
    width: 48%;
    height: 50px;
}
.state{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 48%;
}
.state label{
    font-size: 15px;
    padding: 0px;
}
.state select{
    padding: 0px 10px;
    height: 30px;
}

.zip{
    width: 100%;
    height: 50px;
}
.phone-number{
    width: 100%;
    height: 50px;
}



.credit-debit-display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 5px;
    width: 400px;
    height: 350px;
    padding: 10px 15px;
    background-color: white;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    /* background-color: aquamarine; */
}
.card-img-holder{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 170px;
    height: 40px;
    /* background-color: aquamarine; */
}
.card-img{
    width: 50px;
    height: 30px;
    border-radius: 3px;
    /* background-color: antiquewhite; */
}
.card-1{
    background-image: url("CardImages/363_Visa_Credit_Card_logo-1024.webp");
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}
.card-2{
    background-image: url("CardImages/mastercard.png");
    background-size: cover;
    background-position: center;
}
.card-3{
    background-image: url("CardImages/Amex-512.webp");
    background-size: cover;
    transform: scale(1.14);
    background-position: center;
}


.card-number{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60px;
    /* background-color: aquamarine; */
}

.card-sect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}
.card-exp{
    width: 180px;
    height: 50px;
    /* background-color: aquamarine; */
}
.card-cvc{
    width: 180px;
    height: 50px;
    /* background-color: aquamarine; */
}
.card-holder-name{
    width: 100%;
    height: 50px;
    /* background-color: aquamarine; */
}
.pay-button{
    height: 30px;
}

.place-order-button-holder{
    display: flex;
    margin: 0 auto;
    margin-top: 2%;
    width: 400px;
    height: 50px;
    
}
.place-order{
    width: 100%;
    height: 90%;
    border: 0px;
    font-size: 26px;
    color: black;
    background-color: rgb(97, 244, 149);
    margin: 0 auto;
    cursor: pointer;
    transition: 300ms;
}
.place-order:hover{
    color: white;
    background-color: rgb(48, 216, 107);
}