*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lunch{
    background-color: #f1e7e7;
    height: 1000px;
}
.lunch-item{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3.5%;
    width: 340px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
}
.lunch p{
    text-align: center;
}