*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Athiti';
}

/* header */
.header{
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 1%;  
    width: 700px;
    height: 90px ;
    background-color: bisque;
}

.header ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 400px;
}

.header li{
    font-size: 30px;
}

.header a{
    text-decoration: none;
}

.header nav{
    margin: 0 auto;
    padding: 25px;
    width: 500px;
    height: 90px;
}

.iconImg{
    height: 30px;
}

h2{
    font-size: 34px;
    text-align: center;
}

.menu{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    min-height: 600px;
    border-radius: 10px;
    background-color: #EBE9E1;
}

.menu-item{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3.5%;
    width: 340px;
    min-height: 420px;
    border-radius: 10px;
    background-color: white;
}

.menu-item p{
    padding: 2px 5px;
    text-align: center;
}

/* ---- menu item styles ---- */

.item-image{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.item-image > img{
    /* width: 100%; */
    height: 300px;
}

.item-info{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}

.add-info{
    display: flex;
    align-items: center;
}

.description{
    font-size: 16px;
}

/* ---- Add Icon styles ---- */

#add{
    position: absolute;
    z-index: 0;
    width: 20px;
    opacity: 0;
    transition: opacity 1s;
}

.addItem{
    background-color: transparent;
    border: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.shadow{
    -webkit-filter: drop-shadow(1px 1px 1px #000000c5);
    filter: drop-shadow(1px 1px 1px #000000c5);
} 

/* app */

.appetizer{
    background-color: #f1e7e7;
    height: 730px;
    margin-bottom: 3%;
}

h2{
    font-size: 34px;
    text-align: center;
}

.holder{
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    width: 710px;
    height: 600px;
}


/* lunch */

.lunch{
    background-color: #f1e7e7;
    height: 730px;
    margin-bottom: 3%;
}

.lunch-grid{
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1110px;
    height: 600px;
}


/* dinner */

.dinner{
    background-color: #f1e7e7;
    height: 730px;
    margin-bottom: 3%;
}

.dinner-grid{
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1110px;
    height: 600px;
}


/* desserts */

.desserts{  /* come back to this later */
    background-color: #f1e7e7;
    height: 730px;
    margin-bottom: 3%;
}

.dessert{
    display: grid;
    grid-template-columns: auto auto;
    width: 710px;
    min-height: 450px;
}


/* beverages */

/* .beverage-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1110px;
} */